packaging==23.1
wheel==0.42.0
transformers
librosa
tqdm
tiktoken==0.5.1
audiocraft
numpy
ninja
fastapi
uvicorn
tyro
deepfilternet
pydub
soundfile
gradio
huggingface_hub
wandb
IPython
pytorch-lightning==2.2.1
pytorch-triton==3.0.0+989adb9a29
torch==2.4.0.dev20240321+cu121